In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

Let's review how we will use our dependencies. We'll use Pandas to read our CSV file and create the locations and measurements from the DataFrame. We'll use gmaps and the API key to create heatmaps and the locations map, and we'll use the requests dependency to make a request to the Google Places JSON file. This will allow us to get hotel locations from the latitude and longitude of the city.

Next, we'll read our cities.csv file into a DataFrame. Add the following code and run it to create the DataFrame.

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Waipawa,NZ,2021-11-01 04:27:25,-41.4122,175.5153,61.30,62,79,4.00
1,1,Kahului,US,2021-11-01 04:23:18,20.8947,-156.4700,78.82,78,20,3.44
2,2,Ancud,CL,2021-11-01 04:27:25,-41.8697,-73.8203,53.13,93,0,10.20
3,3,Atuona,PF,2021-11-01 04:27:26,-9.8000,-139.0333,78.84,73,0,18.50
4,4,Puerto Ayora,EC,2021-11-01 04:26:22,-0.7393,-90.3518,68.90,92,37,6.11

In [3]:
# get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

First, tell gmaps to use your API key. You only need to configure gmaps to use your API key once.

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

Google heatmaps do not plot negative numbers. If you have a maximum temperature that is less than 0 °F, then you will get an InvalidWeightException error for this line of code:

To remove the negative temperatures we can use a for loop to iterate through the max_temp and add the temperatures that are greater than 0 °F to a new list.

Add a new cell above our previous code block, and then add the following code in the cell and run the cell.

In [5]:
# this code is the loop reference in the comments above to deal with temperature
# that are in the negatives
# #Get the maximum temperature.
# max_temp = city_data_df["Max Temp"]
# temps = []
# for temp in max_temp:
#     temps.append(max(temp, 0))

Instead of using the for loop, we can perform a list comprehension within the heatmap_layer() function.

Replace temps with our code for the list comprehension so our heat_layer code looks like the following:

heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

# Warning if this map is not rendering posible solutions: api key is not pasted correctly payment is not attach or not present in the google api gmaps not install properly might have to try different methods to install

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable. the comment out code was our original with out
# any formatting
# heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Begin creation of app



we'll write two input statements for the app that will prompt the customer to add minimum and maximum temperature values and convert these values to floating-point decimals.

Add these two input statements to a new cell and run the cell. When we run this cell, the customer will be prompted to enter the minimum temperature.

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

Next, filter the maximum temperature column in the city_data_df DataFrame using logical operators to create a new DataFrame with the cities that meet the customer's criteria.

Recall that you use the loc[] method on the current DataFrame to create a new DataFrame from a current DataFrame. Inside the brackets, add the conditional filter.

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Kahului,US,2021-11-01 04:23:18,20.8947,-156.4700,78.82,78,20,3.44
3,3,Atuona,PF,2021-11-01 04:27:26,-9.8000,-139.0333,78.84,73,0,18.50
6,6,Bambous Virieux,MU,2021-11-01 04:27:28,-20.3428,57.7575,78.22,78,40,6.91
7,7,Mahebourg,MU,2021-11-01 04:27:28,-20.4081,57.7000,78.26,78,40,6.91
10,10,Poum,NC,2021-11-01 04:27:30,-20.2333,164.0167,75.88,74,1,21.94
23,23,Hilo,US,2021-11-01 04:27:36,19.7297,-155.0900,76.73,83,90,3.44
46,46,Trairi,BR,2021-11-01 04:25:27,-3.2778,-39.2689,80.55,75,75,10.58
49,49,Georgetown,MY,2021-11-01 04:27:48,5.4112,100.3354,89.53,70,20,3.44
50,50,Batie,BF,2021-11-01 04:27:48,9.8833,-2.9167,75.88,63,96,4.05
51,51,Vaini,TO,2021-11-01 04:27:49,-21.2000,-175.2000,80.76,83,20,9.22

In [12]:
#determine if the preferred_cities_df has any null values or rows
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       1
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [13]:
# this code is doing the same thing as the above method
preferred_cities_df.count()

City_ID       155
City          155
Country       154
Date          155
Lat           155
Lng           155
Max Temp      155
Humidity      155
Cloudiness    155
Wind Speed    155
dtype: int64

In [14]:
#droping the null values
preferred_cities_df = preferred_cities_df.dropna()

In [15]:
#determine if the preferred_cities_df has any null values or rows
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

Don't add the hotel information to the preferred_cities_df DataFrame because this DataFrame is our filtered DataFrame, and the customer will always filter it for each trip. We'll need to create a new DataFrame specifically for the data needed to create a heatmap and pop-up markers.

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
1           Kahului      US     78.82  20.8947 -156.4700
3            Atuona      PF     78.84  -9.8000 -139.0333
6   Bambous Virieux      MU     78.22 -20.3428   57.7575
7         Mahebourg      MU     78.26 -20.4081   57.7000
10             Poum      NC     75.88 -20.2333  164.0167
23             Hilo      US     76.73  19.7297 -155.0900
46           Trairi      BR     80.55  -3.2778  -39.2689
49       Georgetown      MY     89.53   5.4112  100.3354
50            Batie      BF     75.88   9.8833   -2.9167
51            Vaini      TO     80.76 -21.2000 -175.2000

# Retrieve Hotels from a Nearby Search

IMPORTANT: always check documentation to set this properly
The Nearby Search request lets us perform these tasks:

Search for places within a specified area.
Refine the search using keywords and specifying the type of place we are searching for.
Use an API URL, where the output can be either XML or JSON format.

Specific parameters include:

Our API key
A location, which will be the latitude and longitude
A radius for the search. The radius can be up to 50,000 meters or approximately 31 miles. This distance is much too great for finding hotels, so we'll keep our search to 5,000 meters.
If we use the rankby=distance for a parameter, we need to add one or more of the three parameters above. We won't use the rankby=distance because we will be searching based on the radius from a given latitude and longitude.

For our hotel search, we'll use these parameters:

API key
Latitude and longitude
5,000-meter radius
Type of place

In [17]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [18]:
# # Iterate through the DataFrame.
# for index, row in hotel_df.iterrows():
#     # Get the latitude and longitude.
#     lat = row["Lat"]
#     lng = row["Lng"]

#     # Add the latitude and longitude to location key for the params dictionary.
#     params["location"] = f"{lat},{lng}"

#     # Use the search term: "lodging" and our latitude and longitude.
#     base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
#     # Make request and get the JSON data from the search.
#     hotels = requests.get(base_url, params=params).json()
#     # Grab the first hotel from the results and store the name.
#     hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]

Recall that when trying to parse the data from an API request, we need to use a try-except block to handle the error with a statement and continue the retrieval: REASON WHY ABOVE CODE WILL GIVE YOU AN ERROR

FOLLOWING CODE IS CORRECT: notice how is the last part using except method to handle errors in our call to the API

In [26]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [30]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Kahului,US,78.82,20.8947,-156.4700,Maui Seaside Hotel
3,Atuona,PF,78.84,-9.8000,-139.0333,Villa Enata
6,Bambous Virieux,MU,78.22,-20.3428,57.7575,Casa Tia Villa
7,Mahebourg,MU,78.26,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
10,Poum,NC,75.88,-20.2333,164.0167,
...,...,...,...,...,...,...
538,Cabedelo,BR,77.67,-6.9811,-34.8339,Pousada Camboinha
539,Suez,EG,75.70,29.9737,32.5263,Green House
540,Hirara,JP,82.26,24.8000,125.2833,Hotel Atoll Emerald Miyakojima
557,The Valley,AI,81.10,18.2170,-63.0578,CeBlue Villas & Beach Resort
558,Banda Aceh,ID,84.45,5.5577,95.3222,OYO 884 Rumoh PMI Hotel

In [31]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

# this code will print the heat map of the hotels with no markers

Figure(layout=FigureLayout(height='420px'))

In [32]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

# this code similar with minor adjustments creates the markers on the map for 
# hotels locations

Figure(layout=FigureLayout(height='420px'))

Now we can add a pop-up marker for each city that displays the hotel name, city name, country, and maximum temperature.

From the gmaps documentation on how to add markersLinks to an external site., we need to add an info_box_template that has the following syntax.

In [34]:
# This is a new code block, so let's review its form and function.

# First, the info_box_template variable is assigned to a 
# multiline string using three quotes. The text inside the 
# multiline string is HTML code. HTML code is defined by the opening and 
# closing the angular brackets (e.g., <tag> and <tag/>). Angular brackets 
# always come in pairs. The opening angular bracket is followed by some 
# text inside, such as dl, dt, and dd. The closing angular bracket is
# preceded by a forward-slash ("/"). The text inside with the angular 
# brackets is called a tag. We'll see more examples of HTML code in an 
# upcoming module.

# Here's what these tags mean:

# The <dl> tag is a description list (dl).
# The <dt> tag is a term or name in a description list that is 
# nested under the <dl> tag.
# The <dd> tag is used to define the term or name or <dt> tag.
# If we were to write out these tags on paper, it would look like this.

# Description List: <dl>
# Description Term: <dt>
# Description Definition: <dd>
# Description Term: <dt>
# Description Definition: <dd>
# For our purposes, we'll add the hotel name, city name, country code, 
# and the maximum temperature values from the hotel_df DataFrame as the 
# description definition. Our code will look like the following.

In [35]:
# code pertaining the comments above
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

Next, add the data to the code by iterating through the hotel_df DataFrame using the iterrows() function. Then add the information to the gmaps.marker_layer() attribute with the locations.

According to the documentationLinks to an external site., we can use this example to create the data for the info_box_template:

From the documentation, we can take this code:

plant_info = [info_box_template.format(**plant) for plant in nuclear_power_plants]

Then edit this code by replacing "plant_info" with "hotel_info," and then use the iterrows() function to get the index and data in the row to add to the marker.

Add the following code below to the info_box_template code and run the cell.

In [36]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

Let's review what we're doing with this code.

We set the hotel_info equal to the info_box_content.

In the list comprehension, 

info_box_template.format(**row) for index, row in hotel_df.iterrows(),

we iterate through each "row" of the hotel_df DataFrame and then format the info_box_template with the data we set to populate the from each row. Remember, we are not using every row; we are only using the rows defined in the info_box_template, which are Hotel Name, City, Country, and Max Temp.

Next, in the code we used to create the heatmap with markers, add info_box_content=hotel_info to the gmaps.marker_layer() attribute with the locations. Our final cell should look like the following.

In [37]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))