## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df= pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Kuching,MY,79.02,few clouds,1.5500,110.3333,Hilton Kuching
1,2,Hithadhoo,MV,81.07,overcast clouds,-0.6000,73.0833,Scoop Guest House
2,4,Salalah,OM,71.69,clear sky,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
3,9,Butaritari,KI,81.41,overcast clouds,3.0707,172.7902,Isles Sunset Lodge
4,13,Tiarei,PF,82.00,light rain,-17.5333,-149.3333,Le Rocher de Tahiti
5,14,Mahebourg,MU,70.09,scattered clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
6,15,Hervey Bay,AU,71.02,moderate rain,-25.2986,152.8535,Shelly Bay Resort
7,16,Pemangkat,ID,79.63,overcast clouds,1.1667,108.9667,Hotel Duyung Permai 2
8,19,Padang,ID,80.65,overcast clouds,-0.9492,100.3543,Mercure Padang
9,24,Hambantota,LK,77.34,overcast clouds,6.1241,81.1185,Bungalow 63

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content= vacation_info)
fig.add_layer(marker_layer)
# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Champerico")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Champerico")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Pochutla")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Puerto Escondido")]
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Coahuayana")]

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy(), vacation_start["Lng"].to_numpy()
end = vacation_end["Lat"].to_numpy(), vacation_end["Lng"].to_numpy()
stop1 = vacation_stop1["Lat"].to_numpy(), vacation_stop1["Lng"].to_numpy()
stop2 = vacation_stop2["Lat"].to_numpy(), vacation_stop2["Lng"].to_numpy()
stop3 = vacation_stop3["Lat"].to_numpy(), vacation_stop3["Lng"].to_numpy()
print(start, end, stop1, stop2, stop3)

(array([14.3]), array([-91.9167])) (array([14.3]), array([-91.9167])) (array([15.7432]), array([-96.4661])) (array([15.85]), array([-97.0667])) (array([18.7333]), array([-103.6833]))

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
start = (14.30, -91.9167)
end = (14.3, -91.9167)
stop1 = (15.7432, -96.4661)
stop2 = (15.85, -97.0667)
stop3 = (18.7333, -103.6833)

fig = gmaps.figure()
round_trip = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(round_trip)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,
                          vacation_stop1,
                          vacation_stop2,
                          vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,407,Champerico,GT,79.47,overcast clouds,14.3000,-91.9167,"Hotel y restaurante ""El Diamante"""
1,590,Pochutla,MX,72.82,light rain,15.7432,-96.4661,Hotel Posada San Jose
2,128,Puerto Escondido,MX,78.64,overcast clouds,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
3,392,Coahuayana,MX,78.55,overcast clouds,18.7333,-103.6833,El rranchito michuacan de ocampos

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
itinerary_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [10]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=itinerary_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))